.popup {
    width: 27%;
    max-height: 70%;
    background-color: rgba(174, 207, 206, .075);
    backdrop-filter: blur(123px);
    border-radius: 75px;
    box-shadow: 5px 5px 40px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    display: none;
}